<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GrapeDesktopApp.Properties.Settings.grape_fazendaConnectionString"
            connectionString="Data Source=NOTE-LEONARDO\SQLEXPRESS;Initial Catalog=grape_fazenda;Persist Security Info=True;User ID=grape_user;Password=SenhaForte123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>